<%- include('../Blocks/Header.ejs', { Coven, user, Page, Redirect: "/new/bot" }) %>
<link rel="stylesheet" href="//mythicalbots.xyz/css/bots.css">
<link rel="stylesheet" href="//mythicalbots.xyz/css/form.css">


<main>
      <div class="jumbotron secondary-jumbotron bg-transparent">
        <div class="container">
          <h1>Forum Categories Add</h1>
            <center><h2 style="font-size:20px;">Add a category to the forum.</h2></center>
        </div>
      </div>
      
      
<div class="container" style="background-color: #1b1b1b">
<form class="form" method="post">
<div class="form-group">
<label class="required" style="color: #fff" for="shortDescription">Category Name</label>
<input class="form-control" id="shortDescription" type="text" name="library_name" required="required"/>
<button class="btn btn-dark no-corners" type="submit">Submit</button>
</form>
  </div>
  </div>