<%- include('./Blocks/Header.ejs', { Coven, user, Page: "Error", Redirect: "/me", pageType: "" }) %>
<link rel="stylesheet" href="https://mythicalbots.xyz/css/bots.css">
<link rel="stylesheet" href="https://mythicalbots.xyz/css/form.css">

<br><br><br>
<center>
   <img class="float-center lazy" src="/images/eye.png" onerror="this.onerror = null; this.src = &quot;https://cdn.discordapp.com/embed/avatars/0.png?size=256&quot;;" alt="Avatar" draggable="false">
   <img class="float-center lazy" src="/images/lips.png" onerror="this.onerror = null; this.src = &quot;https://cdn.discordapp.com/embed/avatars/0.png?size=256&quot;;" alt="Avatar" draggable="false">
   <img class="float-center lazy" src="/images/eye.png" onerror="this.onerror = null; this.src = &quot;https://cdn.discordapp.com/embed/avatars/0.png?size=256&quot;;" alt="Avatar" draggable="false">
   <br><br>
   
   <h2>chile- what are you doing? <br> <%- message %></h2>
   
</center>